<mat-card class="server-card">
  <img mat-card-image src={{mapImg}} />
  <mat-card-header>
    <mat-card-title class="card-title-large">{{server.name}}</mat-card-title>
    <mat-card-subtitle>{{server.map}} {{server.players}}/{{server.maxplayers}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <a mat-button color="primary" [href]="'steam://connect/' + server.address + ':' + server.port | safeUrl">
      JOIN
    </a>
  </mat-card-actions>
</mat-card>
