<mat-toolbar color="primary" class="mat-elevation-z4">
    <span>{{title}}</span>
    <span class="toolbar-spacer"></span>
    <a class="mat-icon-button" matTooltip="Login" href="/login">
      <span class="mat-button-wrapper">
        <mat-icon>lock</mat-icon>
      </span>
    </a>
</mat-toolbar>

<div class="content">
    <div class="wrapper">
        <app-server-card *ngFor="let server of servers"
            [server]="server">

        </app-server-card>
    </div>
</div>

<a mat-raised-button color="accent" id="contact-button" href="http://steamcommunity.com/id/nieduzy/">Contact</a>
