.content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

#contact-button {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
