@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-deep-purple);
$candy-app-accent:  mat-palette($mat-deep-orange, A400, A200, A700);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
